/*====Specifical====*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none; display: inline-block;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.d-flex {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.m-auto {margin: 0 auto;}
.align-items-center{-ms-align-items: center;align-items: center;}
/*--------------------*/
body{
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
	color: #5e5e5e;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	line-height: 1.3em;
	letter-spacing: 0.01em;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: 0.05em;
}

.container {
	max-width:1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/*====Section__Hero====*/

.header {}
.header__top {
	background-color: #303030;

}
.header__phone, .header__email {
	color: #cbcacb;
	letter-spacing: 0.25px;
	position: relative;
}
.header__phone {
	padding-left: 20px;
	padding-right: 30px;
}
.header__phone:before {
	content: "\f095";
	font-family: 'icomoon';
	position: absolute;
	left: 0px;
	color: #ffc222;
}
.header__email {
	padding-left: 24px;
}
.header__email:before {
	content: "\f003";
	font-family: 'icomoon';
	position: absolute;
	left: 0px;
	color: #ffc222;
}
.header__btn,
.footer__btn {
	font-size: 16px;
	line-height: 36px;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	color: #1b1b1b;
	position: relative;
}
.header__btn:before,
.footer__btn:before {
	content: "\f0b1";
	font-family: 'icomoon';
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}
.header__btn a{
}
.header__content {
	padding: 34px 0 23px 0;
}
.header__logo {}
.menu {}
.menu li{
	display: inline-block;
}
.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1px solid transparent;
	padding: 0 16px;
	transition: .3s ease;
}
.menu a:hover{
	border-color: #ffc222;
}
.menu li + li {
	padding-left: 10px;
}
#modal {
	display: none;
}

.slider {
	background: #838587 url(../img/slider-fon.jpg)no-repeat center / cover;
	min-height: 500px;
	color: #fff
}
.container {}
.slider__inner {}
.slider__item-content {
	text-align: center;
	padding: 110px 0px 0px 0px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title {
	text-transform: uppercase;
	line-height: 36px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin: 0px 0px 22px 0px;
	letter-spacing: 1.5px;
}
.slider__text {
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
	font-family: 'PT Serif', serif;
	margin: 0px 0px 50px 0px;
}
.slider__btn {
}
.default-btn {
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
}
.default-btn:after {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}
.slider__inner {
	position: relative;
}
.slick-btn {
	position: absolute;
	top: 70%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #ffc222;
}
.slick-btn.slick-disabled {
	cursor: default;
	background-color: transparent;
}
.slick-btn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'icomoon';
	color: #fff;
}
.slick-next:before {
	content: "\f105";
}
.slick-prev:before {
	content: "\f104";
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}

/*====Section-2__Services====*/

.services {
	padding: 50px 0 30px 0;
}
.services__top,
.news__top {
	margin: 0px 0px 60px 0px;
}
.services__title-box,
.form__title-box,
.news__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
	content: '';
	position: absolute;
	top: 11px;
	left: 0;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
}
.services__title,
.form__title,
.news__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	color:#212020;
	margin: 0px 0px 10px 0px;
}
.services__text,
.form__text,
.news__text {
	letter-spacing: 0.01px;
}
.services__btn a,
.news__btn a{
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.25px;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
}
.services__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.services__item {
	max-width: 360px;
	text-align: center;
	padding: 30px 0 80px 0;
	position: relative;
	min-height: 375px;
	background-color: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title {
	font-size: 18px;
	font-weight: 500;
	color: #212020;
	line-height: 24px;
	padding: 24px 0;
}
.services__item-text {
	letter-spacing: 0.1px;
	padding: 0 30px 30px;
}
.services__item-btn {
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
}
.services__item-btn .default-btn:after {
	color: #fff;
}
.services__item-link {
	color: #050505;
	border-bottom: 1px solid #050505;
	margin: 0px 60px 0px 0px;
}
.services__item-btn .default-btn {
	color: #373636;
}

/*====Section-3__About====*/

.about {
	background: url(../img/about-bg.jpg)no-repeat center / cover;
	padding: 30px 0 45px 0;
}
.about__inner {
	max-width: 545px;
}
.about__title {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	padding: 10px 0 25px;
}
.about__text {
	line-height: 24px;
	margin: 0px 0px 30px 0px;
	color: #d3d2d2;
	letter-spacing: 0.1px;
}
.about__btn.default-btn:after {
	color: #000;
}

/*====Section-4__Form====*/

.form {
	padding: 40px 0px 0px 0px;
}
.form__inner {
	padding: 0px 0px 40px 0px;
	background: url(../img/women.png)no-repeat bottom right;
	min-height: 460px;
}
.form__content {

}
.form__title-box {}
.form__title {}
.form__text {}
.form__box {
	max-width: 850px;
	padding: 45px 0px 0px 0px;
}
.form__box-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.form__box-left {
	max-width: 260px;
	width: 100%;
}
.form__box-right {
	max-width: 555px;
	width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
	display: block;
	width: 100%;	
}
.form__box-inner label {
	line-height: 36px;
	color: #282828;
}
.form__box-inner input {
	margin: 0px 0px 8px 0px;
	height: 40px;
}
.form__box-inner textarea,
.form__box-inner input,
.form__box-inner select {
	border:1px solid #e6e6e6;
	padding: 0 10px;
}
.form__box-inner textarea {
	padding: 10px;
	height: 207px;
	resize: none;
	margin: 0px 0px 37px 0px;
}
.form__box-inner select {
	height: 40px;
	padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect {
	display: block;
	width: 100%;
}
.form__box-inner .jq-selectbox__select {
	height: 40px;
	border:1px solid #e6e6e6;
	padding: 0px 0px 0px 17px;
	/*background: transparent;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;*/
}
.form__box-inner button {
	background-color: transparent;
	color: #282828;
	font-weight: 400;
	float: right;
}
.form__box-inner .jq-selectbox__trigger-arrow:before {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	right: 17px;
	transform: rotate(90deg);
	cursor: pointer;
}
.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

/*====Section-5__Advantages====*/

.advantages {
	background: url(../img/advantages.jpg)no-repeat center / cover;
	padding: 55px 0 40px 0;
	min-height: 285px;
}
.advantages__inner {
	text-align: center;
}
.advantages__item {
	max-width: 360px;
	padding: 0 20px;
}
.advantages__title {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	padding: 60px 0 15px 0;
}
.advantages__title:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.advantages__title:after {
	content: "\f00c";
	font-family: 'icomoon';
	font-size: 14px;
	position: absolute;
	top: 9px;
	left: 50%;
	transform: translateX(-50%);
}
.advantages__text {
	color: #d3d2d2;
	letter-spacing: 0.1px;
}

/*====Section-6__News====*/

.news {
	padding: 55px 0 110px;
	background-color: #f9f9f9;
}
.news__top {}
.news__title-box {}
.news__title {}
.news__text {}
.news__btn {
	-ms-align-self: flex-end;
	align-self: flex-end;
}
.news__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.news__slider {
	max-width: 555px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
	padding: 60px 35px 45px 70px;
	position: relative;
}
.news__slider:before {
	content: "\f10e";
	font-family: 'icomoon';
	color: #fff;
	height: 30px;
	width: 65px;
	font-size: 16px;
	position: absolute;
	text-align: center;
	line-height: 30px;
	background-color: #ffc222;
	top: 0;
	left: 70px;
}
.news__slider-item {}
.news__slider-title {
	font-size: 18px;
	color: #242424;
	line-height: 24px;
	padding: 0px 0 20px 0;
	letter-spacing: 0.5px;
}
.news__slider-text {
	margin: 0px 0px 28px 0px;
}
.news__slider-author {
	color: #212020;
	letter-spacing: 0.1px;
}
.news__blog {
	max-width: 260px;
	width: 100%;
	margin-right: 10px;

}
.news__images {
	position: relative;
}
.news__date {
	position: absolute;
	background-color: #ffc222;
	width: 50px;
	height: 55px;
	color: #fff;
	text-align: center;
	padding: 30px 0 0 0;
	font-weight: 700;
	font-family: 'PT Serif', serif;
	top: 0;
	left: 10px;
}
.news__blog-title {
	font-weight: 500;
	color: #242424;
	font-size: 16px;
	line-height: 18px;
	padding: 12px 0;
}
.news__blog-text {
	color: #5e5e5e;
	letter-spacing: 0.1px;
}
.news__slider-inner .slick-btn{
	bottom: -110px;
	top: auto;
}
.news__slider-inner .slick-next{
	right: -35px;
}
.news__slider-inner .slick-prev{
	right: 20px;
	left: auto;
}
.news__slider-inner .slick-disabled {
	border-color: #dadada;
}
.news__slider-inner .slick-disabled:before {
	color: #dadada;	
}

/*====Footer====*/

.footer {}
.footer__content {
	background-color: #595959;
	padding: 22px 0 30px 0;
}
.footer__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer__info {
	max-width: 360px;
}
.footer__title {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0.5px;
}
 .footer__text {
	color: #d2d2d2;
	margin: 0px 0px 20px 0px;
}
.footer__btn {}
.footer__list {
	padding: 10px 0px 0px 0px;
}
.footer__list li {
	margin: 10px 0px 0px 0px;
}
.footer__list a {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	letter-spacing: 0.25px;
	padding: 0px 0px 0px 33px;
}
.footer__list a:before {
	content: "\f003";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}
.footer__list .footer__phone:before {
	content: "\f095";

}
.footer__list .footer__adress:before {
	content: "\f041";
	left: 3px;

}
.footer__map iframe{
	/*height: 250px;
	max-width: 630px;
	width: 100%;*/
}
.footer__map {
	padding-top: 15px;
}
.footer__copy {
	background-color: #303030;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	padding: 8px 0;
}
.copy__text {}

/*====Others====*/

#modal input {
	display: block;
	width: 100%;
	margin: 0px 0px 20px 0px;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 0 10px;
}
#modal input[type="submit"] {
	background-color: #ffc222;
	border: none;
}
#modal {
	width: 300px;
}

.header__btn-menu {
	display: none;
	font-size: 28px;
	cursor: pointer;
}


/*====Responsive====*/

@media screen and (max-width: 1156px) {
	.services__items {
		display: block;
	}
	.services__item {
		max-width: 80%;
		min-height: 330px;
		margin: 30px auto;
	}
	.form__inner {
		background-image: none;
	}
	.news__inner {
		display: block;
	}
	.news__slider {
		max-width: 100%;
		margin: 0px 0px 90px 0px;
	}
	.news__blog {
		display: block;
		max-width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}
	.news__blog:after {
		content: '';
		clear: both;
		display: block;
	}
	.news__images {
		float: left;
		margin-right: 50px;
	}
	.news__blog-inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
}

@media screen and (max-width: 900px) {
	.slider .slick-btn {
		display: none !important;
	}
	.services__top {
		display: block;
	}
	.services__title-box,
	.form__title-box,
	.news__title-box {
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;
	} 
	.services__title-box:before,
	.form__title-box:before,
	.news__title-box:before {
		display: none;
	}
	.news__btn {
		display: none;	
	}
	.form__box {
		padding-top: 0;
	}
	.services__btn {
		text-align: center;
	}
	.about__inner {
		text-align: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		max-width: 100%;
	}
	.about__btn {
		margin: 0 auto;
	}
	.form__box-inner {
		display: block;
	}
	.form__box-left {
		max-width: 100%;
	}
	.form__box-right {
		max-width: 100%;
	}
	.form__box-inner .jq-selectbox__select {
		margin-bottom: 10px;
	}
	.form__inner {
		padding: 0px 0px 65px 0px;
	}
		.advantages__inner {
		display: block;
	}
	.advantages__item {
		max-width: 100%;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 700px) {
	.header__top .container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
	}
	.header__btn {
		margin: 0 auto;
		text-align: center;
	}
	.header__phone {
		padding: 10px 0px 0px 15px;
		margin: 0px 0px 15px 0px;
		padding-right: 30px;
	}
	.header__email {
		margin: 0px 0px 15px 0px;
		padding-righ: ;t: 30px;
	}
	.header__btn-menu {
		display: block;
}
	.menu ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 20px;
		z-index: 50;
	}
	.menu li {
		display: block;
		text-align: center;
	}
	.menu a {
		display: block;
		background-color: #ffc222;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;

	}
	.menu li + li {
		padding-left: 0;
	}
	.footer__map {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.services__item {
		max-width: 100%;
		min-height: 375px;
		margin: 30px auto;
	}
}

@media screen and (max-width: 540px) {
	.news__slider {
	spadding: 60px 20px 45px 20px;
}
.news__slider-inner .slick-next {
	right: 0;
}
.news__slider-inner .slick-prev {
	right: 0;
	left: 0;
}
.news__blog-text {
	max-width: 100%;
}
.news__blog {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
}


@media screen and (max-width: 414px) {
	.slider__title {
		font-size: 24px;
	}
		.slider__text {
			font-size: 16px;
		}


@media screen and (max-width: 400px) {
	.header__btn:before, .footer__btn:before {
		display: block;
	}
	.header__btn {
		width:
		 100%;
	}
	.advantages__item {
		padding: 0;
	}
}

@media screen and (max-width: 375px) {
}

@media screen and (min-width: 700px) {
	.menu ul {
		display: block !important;
	}
}



