/*====Specifical====*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:15px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.d-flex {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.m-auto {margin: 0 auto;}
.align-items-center{-ms-align-items: center;align-items: center;}
/*--------------------*/

body{font-family: 'Source Sans Pro', sans-serif;}
.container{max-width:1170px; margin: 0 auto;padding: 0 15px;}
h1,h2,h3,h4,h5,h6{font-weight: 700;line-height: 1.35em;}
h2{font-size: 35px;}
h3{font-size: 20px;}
p{line-height: 1.6em;}
/*====Section__Hero====*/

.header {
	background: #250E8A url(../img/header-bg.jpg) no-repeat top center / cover;
	padding: 30px 0px 287px 0px;
	color: #fff;
}
.header a{
	font-weight: 600;	
	text-transform: uppercase;
}
.header__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.logo {}
.menu__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.menu__list li + li{
	padding: 0px 0px 0px 50px;
}
.menu a{
	color: rgba(255,255,255,0.5);
	transition: .3s ease;
}
.menu a:hover{
	color: rgba(255,255,255,1);
}
.header-btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.login {
	color: #fff;
	padding: 0px 44px 0px 0px;
}
.sign-up {
	background-color: #fff;
	padding: 10px 0px;
	border-radius: 20px;
	color: #250F8A;
	text-align: center;
	line-height: 24px;
	width: 143px;
	display: block;
}
.offer {
	margin: 106px 0px 0px 0px;
}
.offer__content {
	max-width: 506px;
}
.offer__title {
	font-size: 45px;
}
.offer__subtitle {
	font-size: 24px;
	margin: 0px 0px 71px 0px;
}
.offer__btn {
	display: block;
	width: 200px;
	padding: 13px 0;
	background: #FFCA00;
	color: #250F8A;
	text-align: center;
	border-radius: 25px;
	line-height: 24px;
}
.offer__picture {
	display: block;
	margin: 49px 50px 0px 0px;
}
/*====Section-2__Special====*/

.special {
	padding: 90px 0px 93px 0px;
	text-align: center;
	background: url(../img/special-bg.png) -2% 52% no-repeat;
}
.special__title {
	margin: 0px 0px 97px 0px;
}
.special__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 980px;
	margin: 0 auto;
}
.special__item {
	max-width: 280px;
	padding: 179px 0px 0px 0px;
}
.special__name {
	position: relative;
	margin: 0px 0px 7px 0px;
}

.special__name:before {
	content: '';
	width: 228.88px;
	height: 151.5px;
	left: 33.3px;
	top: -172.5px;
	display: block;
	position: absolute;
	background: url(../img/special-1.png) center top no-repeat;
}
.special__name_desktop:before {
	background: url(../img/special-2.png) center top no-repeat;
}
.special__name_tel:before {
	background: url(../img/special-3.png) center top no-repeat;
}
.special__desc {
	opacity: 0.7;
	color: #272727;
}

/*====Section-3__About====*/

.about {
	background: #F4F9FD url(../img/about-bg.png) 104% 70% no-repeat;
	padding: 50px 0px;
}
.about__wrapper {}
.about__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 4px 0px 0px 56px;
}
.about__item:nth-child(2) {
	flex-direction: row-reverse;
}
.about__content {
	max-width: 468px;
	position: relative;
}
.about__content:before {
	content: '';
	background: url(../img/about-item.svg) left top no-repeat;
	position: absolute;
	top: -48px;
	left: -34px;
	width: 235px;
	height: 125px;
	transform: rotate(2deg);
}
.about__content_e {
	max-width: 458px;
	padding: 24px 0px 0px 69px;
}
.about__content_e:before {
	content: '';
	background: url(../img/about-item2.svg)no-repeat;
	top: 30px;
	left: 37px;
	width: 235px;
	height: 124px;
	transform: rotate(-3deg);
}
.about__content_i:before {
	content: '';
	background: url(../img/about-item3.svg)no-repeat;
	top: -23px;
	left: -38px;
	width: 334px;
	height: 178px;
	transform: rotate(-2deg);
}
.about__title {
	margin: 0px 0px 35px 0px;
}
.about__info {}
.about__desc {
	margin: 0px 0px 1em 0px;
	color: #272727;
	opacity: 0.7;
}
.about__pic {}

/*====Section-4__Comments====*/

.comments {
	padding: 37px 0 81px 0;
	background: url(../img/comment-bg.jpg) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.comments__title {
	margin: 0 auto;
	text-align: center;
	max-width: 383px;
	margin-bottom: 48px;
}
.comments__inner {
	max-width: 943px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.comments__user-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.comments__item {
	max-width: 300px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	padding: 35px 20px;
}
.comments__user a{
	color: #fff;
}
.comments__user-pic {
	margin-right: 20px;
}
.comments__user-info {}
.comments__user-name {
	margin-bottom: 7px;
}
.comments__user-subtitle {
	color: rgba(255,255,255,0.5);;
}
.comments__text {
	padding: 54px 0px 0px 0px;
	position: relative;
	text-align: center;
}
.comments__text:before{
	content: '“';
	font-size: 40px;
	font-weight: 700;
	position: absolute;
	top: 18%;
	left: 46%;
}

/*====Footer====*/

.footer {
	padding: 20px 0 17px 0;
	color: #272727;
}
.footer__credits {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer__credits-link {
	display: block;
	color: #272727;
	margin-right: 26px;
}
.footer__info {}

/*====Responsive====*/

@media screen and (max-width: 1440px) {
	.about__pic{
		width: 80%;
		display: block;
	}
	.about {
	background: #F4F9FD;
}

}

@media screen and (max-width: 1024px) {
.container {width:960px;}
	.about__pic{
		width:  60%;
	}
}

@media screen and (max-width: 768px) {
.container {width:720px;}
.offer {
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.offer__btn {
	margin: 0 auto;
}
.menu__list{
	display: none;
}
.special__inner{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.special__item {
	margin-bottom: 25px;
}
h2 {
	font-size: 25px;
}
.about__content_e {
	 padding: 24px 0px 0px 5px;	
}
.comments__inner {
flex-direction: column;
align-items: center;
}
.comments__item {
	margin-bottom: 25px;
}
.footer .container{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.footer__credits {
	margin-bottom: 15px;
}
}

@media screen and (max-width: 576px) {
.container {width:90%;
padding: 0;}
.header-btn {
	display: none;
}
.about__content_e:before {
    left: -41px;
   }
.header .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.offer__title {
	font-size: 30px;
}
.offer__subtitle {
	font-size: 16px
}
.offer__picture img{
	width: 100%;
}
.header {
	padding: 30px 0px 125px 0px;
	color: #fff;
}
.special {
	background: #fff;
}
.about__item,
.about__item:nth-child(2)  {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 50px;
	padding: 0;
}
.footer {
	text-align: center;
}
}

